<div class="center">
  <app-bt-tabs>
    <app-bt-tab [tabTitle]="'Fidea'">
      <app-catalogs-card-list [catalogs]="catalogs33$ | async">
      </app-catalogs-card-list>
    </app-bt-tab>
    <app-bt-tab [tabTitle]="'Axa'">
      <app-catalogs-card-list [catalogs]="catalogs39$ | async">
      </app-catalogs-card-list>
    </app-bt-tab>
    <app-bt-tab [tabTitle]="'AG Insurance'">
      <app-catalogs-card-list [catalogs]="catalogs79$ | async">
      </app-catalogs-card-list>
    </app-bt-tab>
    <app-bt-tab [tabTitle]="'Baloise'">
      <app-catalogs-card-list [catalogs]="catalogs96$ | async">
      </app-catalogs-card-list>
    </app-bt-tab>
    <app-bt-tab [tabTitle]="'Allianz'">
      <app-catalogs-card-list [catalogs]="catalogs97$ | async">
      </app-catalogs-card-list>
    </app-bt-tab>
    <app-bt-tab tabTitle="Generali Belgium">
      <app-catalogs-card-list [catalogs]="catalogs145$ | async">
      </app-catalogs-card-list>
    </app-bt-tab>
    <app-bt-tab tabTitle="Arag">
      <app-catalogs-card-list [catalogs]="catalogs445$ | async">
      </app-catalogs-card-list>
    </app-bt-tab>
    <app-bt-tab tabTitle="Euromex">
      <app-catalogs-card-list [catalogs]="catalogs463$ | async">
      </app-catalogs-card-list>
    </app-bt-tab>
    <app-bt-tab tabTitle="Das">
      <app-catalogs-card-list [catalogs]="catalogs687$ | async">
      </app-catalogs-card-list>
    </app-bt-tab>
    <app-bt-tab tabTitle="Optimco">
      <app-catalogs-card-list [catalogs]="catalogs2393$ | async">
      </app-catalogs-card-list>
    </app-bt-tab>
    <app-bt-tab [tabTitle]="'Feprabel'">
      <app-catalogs-card-list [catalogs]="catalogs4000$ | async">
      </app-catalogs-card-list>
    </app-bt-tab>
    <app-bt-tab [tabTitle]="'Brocom'">
      <app-catalogs-card-list [catalogs]="catalogs9900$ | async">
      </app-catalogs-card-list>
    </app-bt-tab>
    <app-bt-tab [tabTitle]="'Fvf'">
      <app-catalogs-card-list [catalogs]="catalogs40001$ | async">
      </app-catalogs-card-list>
    </app-bt-tab>
    <app-bt-tab tabTitle="Europ Assistance">
      <app-catalogs-card-list
        [catalogs]="catalogs47696$ | async"
      ></app-catalogs-card-list>
    </app-bt-tab>
  </app-bt-tabs>
</div>
